.home {
  width: 30vh;
  padding-top: 30vh;
  margin: auto;
}

.label {
  display: flex;
  width: 25vw;
}

.input {
  width: 30vh;
  min-width: 240px;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
}